body {
    margin: 0;
    background: #0d0d1a;
    color: white;
    font-family: "Segoe UI", Helvetica, Arial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-links a {
    color: #7fd3ff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #7fd3ff;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #7fd3ff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hero-img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #7fd3ff;
    box-shadow: 0px 0px 20px #7fd3ff;
}

.section {
    padding: 120px 80px;
}

.skills .skill-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    background: #1a1a33;
    padding: 15px 25px;
    border-radius: 8px;
    border: 1px solid #7fd3ff;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.project-card {
    padding: 20px;
    background: #1a1a33;
    border-radius: 10px;
    border: 1px solid #7fd3ff;
}

.project-card a {
    color: #7fd3ff;
    text-decoration: none;
    font-weight: bold;
}
